<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit Customer</h3>
<p>
    <a th:href="@{/song}">
        Back to Page Blog
    </a>
</p>
<div id="form">
    <form th:action="@{/song/edit}" th:object="${song}"
          method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name Song</label>
            <input type="text" th:field="*{name}"/>
            <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <div>
            <label>Performance Artist</label>
            <input type="text" th:field="*{performanceArtist}"/>
            <p style="color: red" th:if="${#fields.hasErrors('performanceArtist')}" th:errors="*{performanceArtist}"></p>
        </div>
        <div>
            <label>Category</label>
            <input type="text" th:field="*{category}"/>
            <p style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
            <!--            <input type="text" th:text  th:field="*{content}"/>-->
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>